<nav class="sidebar">
  <div class="sidebar-container">
    <a [routerLink]="['/dashboard']" class="sidebar-logo">Dashboard</a>
    <ul class="sidebar-links">
      <li><a [routerLink]="['data-generation']"><mat-icon>cached</mat-icon> Data Generation</a></li>
      <li><a [routerLink]="['data-processing']"><mat-icon>build</mat-icon> Data Processing</a></li>
      <li><a [routerLink]="['file-upload']"><mat-icon>cloud_upload</mat-icon> File Upload</a></li>
      <li><a [routerLink]="['student-management']"><mat-icon>group</mat-icon> Student Management</a></li>
      <li><a [routerLink]="['student-report']"><mat-icon>assessment</mat-icon> Student Report</a></li>
    </ul>
  </div>
</nav>